head {
	color: blue;
	text-align: center;
	text-shadow: 5px 5px grey;
}

body {
	background-color: lightblue;
	color: blue;
	text-align: center;
}

h1{
	font-size: 50px;
	font-family: Arial;
}

p1{
	font-size: 20px;
	font-family: Arial;
}

